*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    width: 60vw;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    max-width: 50vw;
    position: relative;
}
.logo{
    background-color: rgba(0, 0, 0, 0.644);
    position: absolute;
    top: 20%;
    padding: 50px;
    width: 472px;
    height: 75px;
}
h1{
    position: absolute;
    color: white;
    top: 25%;
    left: 38%;
}
img{
    height: 125vh;
}
.container{
    display: flex;
    flex-direction: column;
    min-width:100%;
}
.cta{
    padding-top: 125px;
    padding-left: 10px;
    min-height: 50vh;
    line-height: 1.25;
    background-color: rgba(50, 50, 50, 0.092);
    
}
h2{
    text-align: center;
    padding: 20px;
}
form{
    display: grid;
    grid-template-columns: 350px 350px;
}
.input{
    display: flex;
    flex-direction: column;
    margin: 15px;
    max-width: 300px;
}
label{
    text-transform: uppercase;
    font-size: .75rem;
}
input{
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.092);
    border-radius: 4px;
}
button{
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgb(25, 88, 25);
    width: 150px;
    padding: 10px;
    margin: 15px;
}
button:hover{
    background-color: rgb(7, 111, 4);
    cursor: pointer;
}
.button{
    text-align:center;
    min-width: 700px;
}
.log-in{
    text-align: center;
}
.log-in a {
    text-decoration: none;
    color: rgb(25, 88, 25);
}
footer{
  position: fixed;
  bottom: 0px;
  left: 7%;
  text-align: center;
  color: white;
}
footer a{
    text-decoration: none;
    color: white;
}